
<div class="search">
    <input type="text" ng-model="searchString" ng-enter="search(searchString)" class="form-control search-field" placeholder="Search"/>
</div>
<div ng-if="searching" class="search-progress">
		<img width="30" src="/images/progress.gif"/> Searching...
	</div>
<div ng-if="results">
	
	<div ng-repeat="result in results" class="search-result anim">
		
		<div>
		<b>{{result.artist.name}}</b> - {{result.title}}
		<div style="color: gray;">{{result.snippet}}</div>
		<div style="color: gray; font-size: 12px;"><span ng-bind-html-unsafe="result.context"></span>{{result.context}}</div>
		<div style="margin: 10px;">

		<span class="anim" ng-repeat="video in result.videos | limitTo:10">
			
			<a href="https://www.youtube.com/watch?v={{video.id.videoId}}" target="_blank"><img src="{{video.snippet.thumbnails.default.url}}"/></a>
			

		</span>
	</div>
	</div>
		
	</div>
</div>